.footerClass{
    width: 100%;
    background-color: #710754;
    height: 80px;
}
.heightSet{
    height: 100%;
    color: white;
}
.chatBox{
    color: white;
    font-size: 18px;
    font-weight: 500;
}